<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="/style/globalstyle.css">

    <title>Edit Profile</title>
</head>
<body>
    <h1>Edit Profile</h1>
    
    <% if (error) { %>
        <p><%= error %></p>
    <% } %>

    <form action="/profile/edit" method="post">
        <label>Username:</label><br>
        <input type="text" name="username" value="<%= user.username %>" required><br><br>

        <label>Bio:</label><br>
        <textarea name="bio"><%= user.bio %></textarea><br><br>

        <button type="submit">Save Changes</button><br><br>
        <a href="/profile">Cancel</a>
    </form>
</body>
</html>