<nav>
        <div class="logo">JELLY JUMP</div>
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/scoreboard">Scoreboard</a></li>
            <li><a href="/game" style="color: #FF4DFF;">Play Now</a></li>
        </ul>
    </nav>