
<nav>
    <div class="logo">JELLY JUMP</div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>

        <% if (typeof userRole !== "undefined") { %>
            <% if (userRole == "sysadmin") { %>
                <li><a href="/about">About</a></li>
                <li><a href="/announcement">Announcements</a></li>
                <li><a href="/scoreboard">Scoreboard</a></li>
                <li><a href="/friendslist">Friends</a></li>
                <li><a href="/profile/view">Profile</a></li>    
                <li><a href="/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/about">About</a></li>
                <li><a href="/announcement">Announcements</a></li>
                <li><a href="/scoreboard">Scoreboard</a></li>
                <li><a href="/friendslist">Friends</a></li>
                <li><a href="/profile/view">Profile</a></li>
                <li><a href="/purchase">Shop</a></li>
                <li><a href="/jellies">Jellies</a></li>
                <li><a href="/game/gacha">Gacha</a></li>
                <li><a href="/game" style="color: #FF4DFF;">Play Now</a></li>
                <li><a href="/logout">Logout</a></li>
            <% } %>
        <% } else { %>
            <li><a href="/about">About</a></li>
            <li><a href="/announcement">Announcements</a></li>
            <li><a href="/login" style="color: #FF4DFF;">Play Now</a></li>
            
        <% } %>    
</nav>








