<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Friends List</title>
</head>
<body>
   <form action="/addfriend" method="post">
        Name of Friend:<input type="text" name="friendname"><br><br>
       
        <button type="submit">submit</button>
    </form> 

    <% friendslist.forEach(f => { %>
    <p> <%= f.friendName %></p> <% }) %>

    <!-- <form action="/deletefriend" method="post">
        <input type="hidden" name="friendid"> 
        <button type="submit">delete</button>
    </form> -->



    
</body>
</html>