<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Friends List</title>
</head>
<body>
    <% if (error){ %>
        <%= error %>
    <% } %> <br><br>

   <form action="/addfriend" method="post">
        <label for="friendName">Name of Friend:</label>
        <input type="text" id="friendName" name="friendName"><br><br>
        <button type="submit">add friend</button>
    </form><br>
    
    <h3>Friends List</h3>
    <% friendslist.forEach(f => { %>
        <p><%= f.username %></p> 

        <form action="/deletefriend" method="post">
            <input type="hidden" name='friendName' value="<%= f.username %>"> 
            <button type="submit">delete</button>
        </form>
    <% }) %>


    
</body>
</html>