<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jelly Jump | High-Energy Bouncing</title>

    <link rel="stylesheet" href="/style/globalstyle.css">
</head>
<body>

    <%- include('partials/navbar') %>
    
    <div class="container">
        <h2 class="about-title">The Story</h2>
        <div>
            In a world made of neon lights and high-energy pulses, one little hero stands (well, squishes) alone. Meet Bloop, our resident jelly-like blob. Bloop doesn't have a car, a cape, or even bones—but he’s got a dream: to keep moving forward without getting flattened.
        </div>
        
        <h2 class="about-title">How to Play</h2>
        <div>
            Jelly Jump is a game of rhythm and reflexes. The rules are simple, but the neon-soaked obstacles are not:
            <ul>
                <li>
                    The Goal: Hop over spikes, pits, and high-speed hurdles.
                </li>
        
                
                <li>The Controls: Just hit the [ SPACE BAR ].</li>
                
        
                <li>
                The Vibe: One tap sends Bloop into a graceful, neon-pink arc. Tap too early, and you're toast. Tap too late, and... well, let's just say it gets messy.
                </li>
            </ul>
        </div>
    </div>

    
</body>
</html>