<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jelly Jump | High-Energy Bouncing</title>
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="/style/globalstyle.css">
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="hero">
        <h1>Ready to Bounce?</h1>
        <p>Let your Jelly jump far!</p>
        <br>
        <a href="/game" class="play-btn">START JUMPING</a><br><br>
        <a href="/friendslist">Friends!</a>
    </div>

    <!--
    <a href="/logout">Logout</a><br>
    <a href="/game">Game</a> -->

</body>
</html>
