body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    position: relative;
    background-color: lightgray;
    border-bottom: 1px solid black;
    z-index: 10;
    margin-top: 50px;
}

.midbutton {
    position: relative; 
    width: 100px;
    height: 50px;
    font-size: 18px;
}