body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    position: relative;
    background-color: lightgray;
    border-bottom: 1px solid black;
    z-index: 10;
    margin-top: 50px;
}

#midbutton {
    position: relative; 
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bot-20 {
    margin-bottom: 20px;
}