<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    <h1>Forgot Password</h1>

    <% if (errorMsg){ %>
        <p><%= errorMsg %></p>
    <% } %>

    <form action="/forgot-password" method="post">
        <label>Username:</label><br>
        <input type="text" name="username" value="<%= username || '' %>" required><br><br>

        <label for="securityAnswer">SECURITY QUESTION: What is your pet's name?</label><br>
        <input type="text" name="securityAnswer" required><br><br>

        <label>New Password:</label><br>
        <input type="password" name="newPassword" required><br><br>

        <label>Confirm New Password:</label><br>
        <input type="password" name="confirmPassword" required><br><br>

        <button type="submit">Reset Password</button><br><br>
        <a href="/login">Back to Login</a>
    </form>
</body>
</html>