<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jelly Jump</title>
    <link rel="stylesheet" href="/style/globalstyle.css">
    <link rel="stylesheet" href="/game/game.css">
    <script src="/game/game.js"></script>
</head>
<body>
    <div class="stars"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>

    <h1>Jelly Jump</h1>
    <canvas id="board"></canvas>

    <input type="hidden" id="UUID" value="<%= UUID %>">
</body>
</html>

